* {
	margin:0;
	padding:0;
	border:0;
}

body {
	background-color:#ddd;
	font-family:"Helvetica Neue";
	font-weight: 100;
	overflow:scroll;
	color: #333;
}

.center {
	text-align:center;
}

.solo {
	line-height:500px;
}

.slide, .page-number, iframe, img {
	border:1px solid #bbb;
	box-shadow: 0px 0px 5px #333;
	border-radius:5px;
}

.slide {
	background-color:#fff;
	width:580px;
	height:580px;
	padding:30px;
	margin:80px auto;
}

.title, .subtitle {
	margin-top:20px;
}

.title {
	font-size:3em;
	font-weight:bold;
}

.subtitle {
	font-size:2em;
	font-weight:normal;
}

.bullet {
	font-size:1em;
}

.hidden {
	opacity: 0;
}

.visible {
	transition: 0.7s;
	opacity: 1;
}

.page-number {
	width:100px;
	height:100px;
	background-color:#fff;
	position:fixed;
	left:80px;
	top:40px;
	font-size:3em;
	text-align: center;
	line-height:100px;
}

iframe, img {
	display:block;
	margin:30px auto;
}